.cajas3{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    display:grid;
}
/* aqui me falta poner las cajas verticales  */
/*
.caja3 > h3 > p {
    color: #292E47;
}*/