

img{
 max-width:300px;

} 

.inLineImg{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  height: 300px;
  padding: 100px;
}

.terceraFoto{
  max-width: 340px;
  
}

h3 p {
  height: 100px;
  width: 100px;
  margin: 30px 30px 20px;
color: #292e47;
font-size: 24px;
line-height: 115%;
font-weight: 500;
}

a {
  color: #3A56D3;
}