@import"./header.css";
@import"./card.css";
@import"./secondSection.css";
@import"./inLineImg.css";
@import"./emoticones.css";
@import"./3cajas.css";
@import"./yellowBackground.css";
@import"./footer.css";

body{

    padding: 50px;
    margin: 20px 20px 20px 20px;
    background-color: #F2F4FC;
    font-family: Robotto;
}
