thirdSection{
    display: flex;
    align-items:line;
    justify-content: center;
  
    
}

.imagenes3{
   align-items: line;
   justify-content: space-around;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 size:40px;
 width: 100%;
height: 240px;
object-fit: cover;
display: inline-block;
}