/**************catd sonriza ok *******CORRECTO****** */
.section2{
	display: flex;
	justify-content: center;
}


.textTop{
   display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	/*background-color: rgb(200, 255, 0);*/
	width: 60%;
	height: 600px;


}

.textTop h1{
	text-align: left;
	font-size: 100px;
	color:#292E47;
	

}


h2{
    
    margin-bottom: 40px;
	color:#6b708d;
	font-size: 50px;
	font-family:'Times New Roman', Times, serif;
	margin-left: 65px;

}
/*
h1{
    margin-top: 20px;
}*/

.cardSonrizaOk{
	display: flex;
	/*background-color: red;*/
	position: relative;
	justify-content:center;
	align-items: center;
	height:600px ;
	width: 50%;
	
	
	
	/*
	
	flex-direction: column;
	flex-wrap: nowrap;
	
	align-items: flex-end;
	align-content: flex-end;
	height: 600px;
	width: 50%;*/
}

.sonriza{
    height: 100%;
	max-width: 1800px;
	aspect-ratio: 1; /*  todo el contenedor va a ser igual de ancho y de alto*/
 	/*border:  solid 1px blue;*/
}

.card{
	display: flex;
	position: absolute;
	top: 0%;
	left: -20%;
	
}

.ok{
	display: flex;
	position: absolute;
	bottom: -190px;
	right:-100px;
}
/*
.cardSonrizaOk>div>.sonriza{
	height: 500px;
	width: 650px;

}*/


/* ******BOTTON********* */
.textButton{
	display: flex;
	flex-direction: row;


}

.textButton h4{
	font-size: 35px;
	color: #6b708d;
	margin-left: -250px;
	
}
.button{
	margin-left:-150px;
	font-size: 30px;
}