

img{
 max-width:300px;

} 

.inLineImg{
  display: flex;
  
  justify-content:space-around;

}

.terceraFoto{
  max-width: 340px;
  
}

foto3masGrande{
  width: 320px;
}

h3 p {
 
color: #292e47;
font-size: 24px;

font-weight: 500;
}

a {
  color: #3A56D3;
}


.cartaSimplify{
  background-color: white;
  width: 250px;

}
.cartaSimplify img{
width: 100%;
}


